@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$primary: #ff7d26;
$secondary: #f26100;

$font-family-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
