$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$primary: #ff7d26;
$secondary: #f26100;

$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$info: #17a2b8;

$light: #f8f9fa;
$dark: #3a4249;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$body-bg: $white;
$body-color: $gray-900;
$body-secondary-color: $gray-600;
$body-tertiary-color: $gray-500;

$link-color: $info;
$btn-bg: $white;
$btn-color: $primary;
$border-color: $gray-300;

@import "bootstrap/scss/bootstrap";

.hover-shadow:hover {
    border: 1px solid $primary !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
}

.btn-primary {
    background-color: $primary;
    color: $white;
}

.btn-primary:hover {
    filter: brightness(90%);
    color: $white;
}

.btn-secondary {
    background-color: $secondary;
    color: $white;
}

.btn-secondary:hover {
    filter: brightness(90%);
    color: $white;
}

.btn-outline-primary {
    background-color: $white;
    color: $primary;
}

.btn-outline-primary:hover {
    background-color: $primary;
    color: $white;
}

.btn-outline-secondary {
    background-color: $white;
    color: $secondary;
}

.btn-outline-secondary:hover {
    background-color: $secondary;
    color: $white;
}
